---
import Section from "../components/Section.astro";
import MainLayout from "../layouts/MainLayout.astro";

const allSections = await Astro.glob("../content/sections/*.md");
---

<MainLayout pageTitle="Accueil">
  <!-- <section class="accueil">

  </section> -->

  {
    allSections.map((s) => (
      <Section
        imageBg={s.frontmatter.imageBg}
        text={s.compiledContent()}
        url={s.frontmatter.url}
        videoUrl={s.frontmatter.videoUrl}
        videoID={s.frontmatter.videoID}
      />
    ))
  }
</MainLayout>
<style></style>
